[submodule "user-ms"]
	path = user-ms
	url = https://github.com/dev-elliotesco/user-ms
[submodule "bike-ms"]
	path = bike-ms
	url = https://github.com/dev-elliotesco/bike-ms
[submodule "car-ms"]
	path = car-ms
	url = https://github.com/dev-elliotesco/car-ms
[submodule "eureka-service"]
	path = eureka-service
	url = https://github.com/dev-elliotesco/eureka-service
